#botón_enviar
{
	margin-top: 20px; 
	margin-bottom: 20px; 
	font-family: 'Combo';

}
#botón_ordenar
{
	display: none;
	margin-top: 20px; 
	margin-bottom: 20px; 
	font-family: 'Combo';
}
h3
{
	font-family: 'DynaPuff';
}

#nombre_invitado
{
	font-family: 'Combo';
}

input
{
	margin: 10px;
}

#mostrar_nombres_sin_comas
{
	border: 1px solid #7fd7b8;
    padding: 10px;
    background-color: #7fd7b8;
	border-radius: 10px;
    width: 300px;
	font-family: 'Combo';
}
